$fontSize:15px;

////////////////////////////////////////////////////////////
//		[@FONT-FACE]
////////////////////////////////////////////////////////////
@mixin font-face($fontFamily, $fileName, $fontStyle, $fontWeight) {
	@font-face {
		font-family: $fontFamily;
		src: url('../assets/fonts/#{$fileName}.eot');
		src: url('../assets/fonts/#{$fileName}.eot?#iefix') format('embedded-opentype'),
			url('../assets/fonts/#{$fileName}.woff') format('woff'),
			url('../assets/fonts/#{$fileName}.ttf') format('truetype');
		font-style: $fontStyle;
		font-weight: $fontWeight;
	}
}

@mixin text-format($size:$fontSize, $lineHeight:null, $color:null, $family:null, $weight:null, $transform:null){
	@include font-size($size);

	@if $lineHeight == null{line-height:calculateRem($size);}
	@else {line-height:calculateRem($lineHeight);}


	@if $color != null {color:$color;}
	@if $family != null {font-family:$family;}
	@if $weight != null {font-weight:$weight;}
	@if $transform != null {text-transform:$transform;}
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

@function calculateRem($size) {
	$remSize: $size / $fontSize;
	@return $remSize * 1rem;
}

//--------------------------------------------------
//	roboto
//--------------------------------------------------
$roboto: 'roboto', sans-serif;