//--------------------------------------------------
//	Sizes
//--------------------------------------------------

$pageWidth:				1024px;



//--------------------------------------------------
//	Colors
//--------------------------------------------------

$colorBase:				#333333;  // Base color
$colorHighlight:		#a2ad00;  // Highlight color



//--------------------------------------------------
//	Fonts
//--------------------------------------------------

$fontSize:				13px;
$fontBody:				sans-serif;
$fontHeadings:			serif;
