@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
//@import "../../bower_components/neat/app/assets/stylesheets/neat";

@import "utils/mixins";
@import "utils/resets";

@import "colors";
@import "typography";

////////////////////////////////////////////////////////////
//		[GENERAL STYLES]
////////////////////////////////////////////////////////////
body{
	margin:0;
	padding:0;
	background-color:#fff;
	text-align:center;
}

#container{
	@include size(100%);

	*{
		@include box-sizing(border-box);
	}

	a{
		text-decoration:none;
	}
}
//--------------------------------------------------
//		[COMPONENT STYLES]
//--------------------------------------------------
@import "../components/sample/_SampleStyles";